.post-card {
    display: flex;
    transition: transform .2s ease, box-shadow .2s ease;
    background-color: rgb(226, 241, 213);
}

.post-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.post-card img {
  object-fit: cover;
  height: 100%;
  max-height: 180px;
}

.section-title {
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #0d6efd; /* azul Bootstrap */
  margin-top: 8px;
  border-radius: 2px;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.85;
  color: #2b2b2b;
  text-align: justify;
}

.about-text strong {
  font-weight: 600;
  color: #000;
}